// The list of blocks to validate 

div(class='vertical segment' id='pop-up-no-block') 
    div(class='ui attached message')
        div(class='header') Validated documents
        div(id='msg-no-block-to-validate')
            p No documents have yet been validated
        
    // When no validated blocks
    div(class='ui attached fluid segment')
        div(class='ui disabled segment')
            img(class="ui wireframe image" src='images/paragraph.png')
